.reservation{
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    width: 300px;
    background-color: var(--background-color-secondary);
    color: var(--text-color);
}

