.exploreGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    row-gap: 25px;
    justify-items: center;
}

.exploreItem{
    width: fit-content;
    text-decoration: none;
}
