:root {
  --background-color: #fff;
  --text-color: #000;
  --image-color-invert: 0%;
  --background-color-secondary: #f2f2f2;
  --button-hover: #bebebe;

}

.dark-mode {
  --background-color: #171717;
  --text-color: #fff;
  --image-color-invert: 100%;
  --background-color-secondary: #444444;
  --button-hover: #7e7e7e;

}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
